<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cash Book</title>
<style>
	.body {
		text-align: left;
	}
</style>
</head>
<body class="body">
	<!-- fragment1 -->
	<div th:fragment="sidemenu"> <!-- menu::sidemenu -->
		<div class="menuTitleArea">
			<span class="menuTitle" th:text="${session.LM.memberId}"></span>
			<span class="menuTitle">님 반갑습니다</span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/home}">Home</a></span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/memberInfo}">Member Info</a></span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/getCashListByDate}">Cash Book Management By Day</a></span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/getCashListByMonth}">Cash Book Management By Month</a></span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/home}">BoardList</a></span>
		</div>
		<div class="menuArea">
			<span><a class="menuLink" th:href="@{/logout}">Logout</a></span>
		</div>
	</div>
	<!-- fragment2 -->
	
	<!-- fragment3 -->
	
	<!-- fragment4 -->
	
	<!-- fragment5 -->
	
</body>
</html>