<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cash Book</title>
<style>
	.body {
		text-align: left;
	}
</style>
</head>
<body class="body">
	<!-- fragment1 -->
	<div th:fragment="sidemenu"> <!-- menu::sidemenu -->
		<div><span th:text="${session.LM.memberId}"></span>님 반갑습니다</div>
		<ul>
			<li><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/memberInfo}">Member Info</a></li>
			<li><a th:href="@{/getCashListByDate}">Cash Book Management By Day</a></li>
			<li><a th:href="@{/getCashListByMonth}">Cash Book Management By Month</a></li>
			<li><a th:href="@{/home}">BoardList</a></li>
			<li><a th:href="@{/logout}">Logout</a></li>
		</ul>
	</div>
	<!-- fragment2 -->
	
	<!-- fragment3 -->
	
	<!-- fragment4 -->
	
	<!-- fragment5 -->
	
</body>
</html>