<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cash Book</title>
<style>
	.body {
		text-align: center;
	}
	.table {
		margin: auto;
	}
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
	<div class="container">
		<h1>Cash List</h1>
		<div th:include="/include/menu::sidemenu"></div>
		
		<h3 th:text="${now}"></h3>
		<div>
			<a th:href="@{/getCashListByDate(now=${now.plusDays(-1)})}">Previous</a>
			<a th:href="@{/getCashListByDate(now=${now.plusDays(1)})}">Next</a>
		</div>
		<table class="table" border="1">
			<thead>
				<tr>
					<th>category_name</th>
					<th>income</th>
					<th>expenses</th>
					<th>cash_place</th>
					<th>cash_memo</th>
					<th>DELETE</th>
					<th>UPDATE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${list}">
					<td th:text="${c.categoryName}"></td>
					
					<td th:if="${c.cashKind} == '수입'" th:text="${'+' + c.cashPrice}"></td>
					<td th:unless="${c.cashKind}  == '수입'"></td>
					
					<td th:if="${c.cashKind}  == '지출'" th:text="${'-' + c.cashPrice}"></td>
					<td th:unless="${c.cashKind} == '지출'"></td>
					
					<td th:text="${c.cashPlace}"></td>
					<td th:text="${c.cashMemo}"></td>
					<td><a th:href="@{/removeCash(cashNo=${c.cashNo})}">DELETE</a></td>
					<td><a href="">UPDATE</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>