<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cash Book</title>
<style>
	.body {
		text-align: center;
	}
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
	<div class="container">
		<h1>Member Info</h1>
		<div th:include="/include/menu::sidemenu"></div>
		<table class="table" border="1">
			<tr>
				<td>member_pic</td>
				<td><img th:src="@{${'/upload/' + member.memberPic}}"></img></td>
			</tr>
			<tr>
				<td>member_id</td>
				<td th:text="${member.memberId}"></td>
			</tr>
			<tr>
				<td>member_name</td>
				<td th:text="${member.memberName}"></td>
			</tr>
			<tr>
				<td>member_addr</td>
				<td th:text="${member.memberAddr}"></td>
			</tr>
			<tr>
				<td>member_phone</td>
				<td th:text="${member.memberPhone}"></td>
			</tr>
			<tr>
				<td>member_email</td>
				<td th:text="${member.memberEmail}"></td>
			</tr>
			<tr>
				<td><a class="btn btn-danger" href="/removeMember">Delete</a></td>
				<td><a class="btn btn-primary" href="/modifyMember">Update</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
