<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
	
	<select id="selectCashListByDay"
			parameterType="com.gdu.cashbook.vo.Cash"
			resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no cashNo,
			cash_kind cashKind,
			category_name categoryName,
			cash_price cashPrice,
			cash_place cashPlace,
			cash_memo cashMemo
		FROM cash
		WHERE member_id = #{memberId}
		AND cash_date = #{cashDate}
		ORDER BY cash_no ASC
	</select>
	
	<select id="selectCashKindSum"
			parameterType="com.gdu.cashbook.vo.Cash"
			resultType="int">
		SELECT
			(SELECT IFNULL(SUM(cash_price), 0) FROM cash
			WHERE cash_kind = '수입'
			AND member_id = #{memberId}
			AND cash_date = #{cashDate})
			-
			(SELECT IFNULL(SUM(cash_price), 0) FROM cash
			WHERE cash_kind = '지출'
			AND member_id = #{memberId}
			AND cash_date = #{cashDate})
		FROM dual
	</select>
	
	<select id="selectCashOne"
			parameterType="int"
			resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no cashNo,
			cash_kind cashKind,
			category_name categoryName,
			cash_price cashPrice,
			cash_place cashPlace,
			cash_memo cashMemo,
			cash_date cashDate
		FROM cash
		WHERE cash_no = #{cashNo}
	</select>
	
	<select id="selectCategory"
			resultType="com.gdu.cashbook.vo.Category">
		SELECT category_name categoryName
		FROM category
	</select>
	
	<select id="selectDayAndPrice"
			parameterType="java.util.Map"
			resultType="com.gdu.cashbook.vo.DayAndPrice">
		SELECT 
			DAY(cash_date) as day,
			SUM(CASE WHEN cash_kind='수입' THEN cash_price
			WHEN cash_kind='지출' THEN -cash_price END) as price
		FROM cash
		WHERE member_id = #{memberId}
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY DAY(cash_date)
	</select>
	
	<select id="selectMonthAndPrice"
			parameterType="java.util.Map"
			resultType="com.gdu.cashbook.vo.MonthAndPrice">
		SELECT 
			MONTH(cash_date) as month,
			SUM(CASE WHEN cash_kind='수입' THEN cash_price
			WHEN cash_kind='지출' THEN -cash_price END) as price
		FROM cash
		WHERE member_id = #{memberId}
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY MONTH(cash_date)
	</select>
	
	<insert id="insertCash"
			parameterType="com.gdu.cashbook.vo.Cash">
		INSERT INTO
			cash(
			category_name,
			member_id,
			cash_kind,
			cash_price,
			cash_place,
			cash_memo,
			cash_date)
		VALUES
			(
			#{categoryName},
			#{memberId},
			#{cashKind},
			#{cashPrice},
			#{cashPlace},
			#{cashMemo},
			#{cashDate})
	</insert>
	
	<delete id="deleteCash"
			parameterType="int">
		DELETE FROM cash
		WHERE cash_no = #{cashNo}
	</delete>
	
	<update id="updateCash"
			parameterType="com.gdu.cashbook.vo.Cash">
		UPDATE cash
		SET cash_kind = #{cashKind},
			category_name = #{categoryName},
			cash_price = #{cashPrice},
			cash_place = #{cashPlace},
			cash_memo = #{cashMemo},
			cash_date = #{cashDate}
		WHERE cash_no = #{cashNo}
	</update>
	
</mapper>