<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	
	<select id="selectMemberIdByMember"
			parameterType="com.gdu.cashbook.vo.Member"
			resultType="String">
		SELECT
			CONCAT(SUBSTRING(member_id, 1, 3), '****')
		FROM member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email = #{memberEmail}
	</select>
	
	<!--
	비밀번호 찾기
	1. 사용자가 입력한 id와 email 일치하면 pw 변경(랜덤 문자열) update
	2. 사용자가 입력한 id의 변경된 pw를 메일로 전송
	-->
	
	<update id="updateMemberPw"
			parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>
	
	<select id="IdCk"
			parameterType="String"
			resultType="String">
		SELECT
			member_id
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<select id="selectMemberOne"
			parameterType="com.gdu.cashbook.vo.LoginMember"
			resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id memberId, 
			member_name memberName, 
			member_addr memberAddr, 
			member_phone memberPhone, 
			member_email memberEmail,
			member_pic memberPic
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<select id="selectMemberId"
			parameterType="String"
			resultType="String">
		SELECT
			member_id
		FROM member
		WHERE member_id = #{memberIdCheck}
	</select>
	
	<select id="selectLoginMember" 
			parameterType="com.gdu.cashbook.vo.LoginMember" 
			resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT
			member_id memberId, 
			member_pw memberPw
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<select id="selectMemberPic"
			parameterType="String"
			resultType="String">
		SELECT member_pic
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<insert id="insertMember"
			parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member (
		member_id, 
		member_pw, 
		member_name, 
		member_addr, 
		member_phone, 
		member_email,
		member_pic
		) VALUES (
		#{memberId}, 
		PASSWORD(#{memberPw}), 
		#{memberName}, 
		#{memberAddr}, 
		#{memberPhone}, 
		#{memberEmail},
		#{memberPic}
		)
	</insert>
	
	<update id="deleteMember"
			parameterType="String">
		UPDATE member
		SET member_pw = 0,
			member_name = 0,
			member_addr = 0,
			member_phone = 0,
			member_email = 0,
			member_pic = 0
		WHERE member_id = #{memberId}
	</update>
	
	<update id="updateMember"
			parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_name = #{memberName}, 
			member_addr = #{memberAddr}, 
			member_phone = #{memberPhone}, 
			member_email = #{memberEmail},
			member_pic = #{memberPic}
		WHERE member_id = #{memberId}
	</update>
	
</mapper>